body {
  background-color: #c7c7c7;
  text-align: center;
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "MONO" 1;
}

h2 {
  font-weight: 500;
  text-decoration: underline;
}
li {
  font-weight: 300;
  padding: 10px;
}
p {
  font-weight: 300;
  padding: 10px;
}
img {
  margin-bottom: 30px;
  width: 150px;
  border-radius: 200px;
  border: 3px solid #2b143f;
}
.mail-icon {
  border: none;
  width: auto;
  display: inline-block;
  vertical-align: top;
}

.about {
  padding-left: 30px;
  padding-right: 30px;
  border: 3px solid #2b143f;
  border-radius: 50px;
  background-color: #c1c0bb;
}

.projects {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px solid #2b143f;
  border-radius: 50px;
  background-color: #c1c0bb;
}

.contact {
  padding-left: 30px;
  padding-right: 30px;
  border: 3px solid #2b143f;
  border-radius: 50px;
  background-color: #c1c0bb;
}

a:hover {
  color: white;
}

a:visited {
  color: black;
}
