body {
  background-color: #c7c7c7;
  text-align: center;
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "MONO" 1;
  font-size: 24px;
}

h2 {
  font-weight: 500;
  text-decoration: underline;
}
li {
  font-weight: 300;
  padding: 10px;
}
p {
  font-weight: 300;
  padding: 10px;
}
img {
  margin-bottom: 30px;
  width: 300px;
  border-radius: 200px;
  border: 2px solid #2b143f;
}
.mail-icon {
  border: none;
  width: auto;
  display: inline-block;
  vertical-align: top;
}

.about {
  margin-left: 80px;
  margin-right: 80px;
  border: 3px solid #2b143f;
  border-radius: 50px;
  background-color: #c1c0bb;
}

.projects {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px solid #2b143f;
  border-radius: 50px;
  background-color: #c1c0bb;
}

.contact {
  margin-left: 80px;
  margin-right: 80px;
  border: 3px solid #2b143f;
  border-radius: 50px;
  background-color: #c1c0bb;
}
